<div class="flex">
  <div>
    <div>
      <button (click)="onSaveFruit()">Save Fruit</button>
    </div>
    <table>
      <thead>
        <th>Name</th>
        <th>Fruityvice Id</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>
        <th>Calories</th>
      </thead>
    </table>
    <tbody>
      @for(fruit of fruitList; track fruit.id) {
      <tr>
        <td>{{ fruit.name }}</td>
        <td>{{ fruit.id }}</td>
        <td>{{ fruit.nutritions.protein }}</td>
        <td>{{ fruit.nutritions.carbohydrates }}</td>
        <td>{{ fruit.nutritions.fat }}</td>
        <td>{{ fruit.nutritions.calories }}</td>
        <td>
          <!-- Check box -->
          <div
            class="w-3 h-3 border"
            [ngClass]="{ 'bg-green-600': fruit.selected }"
            (click)="toogleCheckFruit(fruit)"
          ></div>
          <!-- <button class="border px-2 py-1 rounded-xl" (click)="onCheckFruit(fruit)">
        Select Fruit
      </button> -->
        </td>
      </tr>
      }
    </tbody>
  </div>

  <!-- Form -->
  <form [formGroup]="addFruitForm" (ngSubmit)="onAddFruit()">
    <div>
      <label for="">Fruityvice Id</label>
      <input class="border" type="number" formControlName="id" />
    </div>
    <div>
      <label for="">Fruit Name</label>
      <input class="border" type="text" formControlName="name" />
    </div>
    <div>
      <label for="">Calories</label>
      <input class="border" type="number" formControlName="calories" />
    </div>
    <div>
      <label for="">Fat</label>
      <input class="border" type="number" formControlName="fat" />
    </div>
    <div>
      <label for="">Carbohydrates</label>
      <input class="border" type="number" formControlName="carbohydrates" />
    </div>
    <div>
      <label for="">Protein</label>
      <input class="border" type="number" formControlName="protein" />
    </div>
    <button type="submit">Add Fruit</button>
  </form>
</div>
